* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-background {
    background-color: rgb(61, 61, 61);
    padding: 20px;
}

.aside-container * {
    margin: 10px;
}

.cities-searched-container {
    margin: 10px;
}